.store-form {
    display: flex;
    flex-direction: column;
}

.store-form > * {
    width: 100%;
}

.photo-ip {
    width: 100px;
    min-height: 100px;
    background-color: pink;
    text-align: center;
    border: 2px orange solid;
}

.store-photo {
    max-width: 100px;
    image-orientation: flip;
}
