<div class="modal-header">
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container-fluid">
  <div class="store-form">
    <mat-form-field>
      <input matInput placeholder="Store Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address (This will be used to find location)">
    </mat-form-field>
    <div ngFileDropzone class="photo-ip" (fileDrop)="fileDroped($event)">
        <label>Drop your photo!</label>
        <img *ngFor="let file of files" 
        [src]="file.content" 
        alt="file.name" 
        class="img-fluid store-photo"
        (click)="imgClicked(file)">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="closeModal()">Save changes</button>
</div>
